/* CSS declarations go here */

body
{
    background: url("images/comback.jpg");
    background-size: cover;
    background-image: linear-gradient(to bottom right,#3b4c83,#000000);
    background-color: rgb(0, 0, 0);

    background-repeat-y: no-repeat;
    /*
    height: 100%;
*/
}
.registerClass{
/*   margin: -25% 35%;*/
    height: 200px;
    color: #ffffff;
    width: 30%;
    padding: 10px;
    left: 0;
    margin-top: 5px;
    margin-left: 20px;
    background: rgba(255, 255, 255, 0.21);
    
    border-radius: 5px;
   
    border-width: 1px;
     
}   
.registerClass input, button{ 
    margin: 5px; 
}
.registerLinkClass{
    cursor:pointer;
}
.registerLinkClass:hover{
    color:#16a3b4;
}
.getdetailsclass
{
    color: #ffffff;
    width: 30%;
    padding: 10px;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    background: rgba(255, 255, 255, 0.21);
    
    border-radius: 5px;
   
    border-width: 1px;
}
/*
button{
    border: transparent;
    border-radius: 15px;
    background: linear-gradient(aliceblue,grey);
    padding: 5px 20px;
    cursor:pointer;
}
*/
.card_margin{
    margin: 20px;
}
label{
    padding: 12px 20px;
    margin: 8px 0;
    width: 50px;
    box-sizing: border-box;
}
input[type=text],input[type=number] ,select{
    background-color: white;
    width:200px;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    padding-left: 40px;
}
input[type=button], input[type=submit], input[type=reset], button {
    background-color: #0c6cb7;
    border: none;
    color: white;
    
    padding: 5px 25px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover, button:hover{
    background:#16a3b4;
}
.registerClose, .chartClose{
    text-align: end;
    cursor:pointer;
}
.registerClose:hover,.chartClose:hover{
    color: crimson;
}
.loginPageClass{
    margin-top: -195px;
    margin-left: 20px;
/*    margin: 10% 35%; */
    
    left: 0;
    color: #ffffff;
    width: 30%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.21);
    
    border-radius: 5px;
   
    border-width: 1px;
}
.logoutClass{
    text-align: end;
    /* cursor: pointer; */
    margin-top: -50px;
     color: #FFF; 
}
a{
    text-decoration: none;
}
.details{
    margin-top: 25px;
}
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(110, 110, 110, 0.42);
    box-shadow: 0px 0px 0px rgba(82, 82, 82, 0.78);
}
form, .standards{
    display: table;
}

li { 
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
.content
{
    display: flex;
}
.cesium-credit-textContainer
{
    display: none;
}
.earth{
    width: 65%;
    float: right;
    margin-top: -200px;
    margin-right: 10px;
}
.chart{
    display:none;
    width: 65%;
    float: right;
    margin-top: -195px;
    margin-right: 10px;
}
#world-map
{
    
    
}
.nameplate{
    min-height: 120px;
    text-align: center;
    /* margin: auto; */
    /* font-family: serif; */
    color: #ffffff;
    background: transparent;
    padding: 25px;
    box-shadow: 0px 0px 200px 0px rgba(255, 255, 255, 0.25) inset;
    border-bottom: .5px rgba(178, 174, 174, 0.56) solid;
    text-shadow: 4px 0px 20px rgba(0, 0, 0, 0.65);
}
.mapdataclass{
    position: absolute;
    margin-top: 10%;
    height: 230px;
    display: none;
    width: 300px;
    scroll-behavior: smooth;
    overflow: scroll;
    margin-left: 20%;
    box-shadow: 0px 0px 1px 1px darkgrey;
    background: rgba(255, 255, 255, 0.21);
    border-radius: 5px;
    border-width: 1px;
    color: #ffffff;
}
.dataClose{
    cursor: pointer;
    position: fixed;
    color: red;
    padding-left: 260px;
}